/* GENERAL start */

p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #686978;
}

.footer .copyright {
  text-align: left;
}
#footer .row {
  margin: 0 30px;
}
.social-links a {
  margin: 0 6px;
}
.background {
  background-color: #f7f9fc;
  padding: 50px;
}
.header-page {
  margin: 80px auto 20px;
}
.header-page > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #172955;
}
.header-not-first {
  margin: 0 auto 20px;
}
.header-not-first > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #172955;
}
.card-custom {
  margin-bottom: 24px;
}
.card-custom .box {
  overflow: hidden;
  padding: 0px 0px;
  background: #ffffff;
  border: 1px solid #dde6f4;
  box-sizing: border-box;
  border-radius: 16px;
}
.card-custom .box img {
  width: 100%;
  height: auto;
}
.card-custom .box h3 {
  padding: 14px 28px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #172955;
}

/* GENERAL end */

/* HOME start */

#hero h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #ff7d39;
}
#hero h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;

  color: #172955;
}
#hero h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  /* or 171% */

  color: #686978;
}
#pricing .box {
  padding: 38px 30px;
  background: #ffffff;
  border: 1px solid #dde6f4;
  box-sizing: border-box;
  border-radius: 24px;
}
#pricing h2 {
  margin: 40px 0 20px;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #172955;
}
#pricing p {
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #686978;
}
.icon-group-main {
  width: 100px;
  height: 100px;
  background: url("../img/icon-group-bg.png") no-repeat center center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-group-main-active {
  background: url("../img/icon-group-active-bg.png") no-repeat center center;
  background-size: 100%;
}
.icon-main {
  display: block;
  width: 50px;
  height: 50px;
}
#icon-main-1 {
  background: url("../img/icon-main-1.png") no-repeat center center;
  background-size: 100%;
}
#icon-main-2 {
  background: url("../img/icon-main-2.png") no-repeat center center;
  background-size: 100%;
}
#icon-main-3 {
  background: url("../img/icon-main-3.png") no-repeat center center;
  background-size: 72%;
}
#icon-main-4 {
  background: url("../img/icon-main-4.png") no-repeat center center;
  background-size: 90%;
}
.about .content {
  background-color: transparent;
}
#about h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  color: #a0a2db;
}
#about h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #172955;
}
.values .box img {
  padding: 0px 0px;
  transition: 0s;
  transform: scale(1);
}
#values .box {
  overflow: hidden;
  padding: 0px 0px;
  background: #ffffff;
  border: 1px solid #dde6f4;
  box-sizing: border-box;
  border-radius: 24px;
}
#values .box h3 {
  padding: 40px 30px 0px 30px;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #172955;
}
#values .box p {
  padding: 0px 30px 20px 30px;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #686978;
}
.icon-group-service {
  width: 100px;
  height: 100px;
  margin: -50px 0 0 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 15px 40px rgba(53, 63, 252, 0.15);
  border-radius: 24px;
}
.icon-service {
  display: block;
  width: 50px;
  height: 50px;
}
#icon-service-1 {
  background: url("../img/icon-service-1.png") no-repeat center center;
  background-size: 100%;
}
#icon-service-2 {
  background: url("../img/icon-service-2.png") no-repeat center center;
  background-size: 100%;
}
#icon-service-3 {
  background: url("../img/icon-service-3.png") no-repeat center center;
  background-size: 100%;
}
#recent-blog-posts .row > div {
  margin-bottom: 23px;
}

/* HOME end */

/* ABOUT start */

#opening #first-title {
  margin: 80px auto 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ff7d39;
}
#opening #big-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #172955;
  padding: 0 5%;
}
#opening img {
  margin: 50px auto;
}
#vision {
  text-align: center;
}
#vision #title-char {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 124px;
  line-height: 5px;
  text-align: center;
  color: #a9adff;
  padding-left: 50px;
}
#vision span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5em;

  color: #a9adff;
  display: block;
  margin-bottom: 20px;
}
#vision p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #172955;
  padding: 0 5%;
}
#mission .background span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5em;
  color: #a9adff;
  display: block;
  margin-bottom: 20px;
}
#mission .background p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 32px;
  color: #172955;
}
#benefits ul {
  width: 80%;
  margin: 0 auto;
}
#benefits li {
  list-style-image: url(../img/icon-check.png);
  padding-inline-start: 1ch;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 32px;
  color: #172955;
  margin: 15px 0;
}

/* ABOUT end */

/* TEAM start */

.team .card-custom .box > h3 {
  padding: 14px 28px 0;
  text-align: center;
}
.team .card-custom .box > span {
  padding: 0 28px 24px;
  text-align: center;
  display: block;
}

/* ------- */

.team .container header #first-title {
  margin: 36px 0 64px;
  color: #fd6212;
}

#team-supplier .container .row .box {
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#team-supplier .container .row .box a {
  border: none;
  height: 100%;
  width: 100%;
}

#team-supplier .container .row .box a img {
  height: 100%;
  width: auto;
}

.team {
  padding: 30px 0 80px;
  text-align: center;
}
.team h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #172955;
  margin-bottom: 20px;
}
.team a {
  border: 1px solid #fd6212;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fd6212;
  padding: 10px 25px;
}

/* TEAM end */

/* PRODUCT start */

#desc-area .btn-read-more {
  background: #fd6212;
  border-radius: 10px;
  padding: 10px 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

/* PRODUCT end */

/* NEWS start */

#news-details .breadcrumbs {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ff7d39;
  background: none;
  margin: 0;
}
#news-details .breadcrumbs a {
  color: #ff7d39;
}
#news-details .title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #172955;
}
#news-details .date {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #353ffc;
}
#news-details img {
  margin: 25px 0;
  border-radius: 10px;
  height: auto;
  width: 100%;
}

/* NEWS end */

/* CONTACT start */

.big-card {
  background: #ffffff;
  box-shadow: 0px 20px 40px #f7f7ff;
  border-radius: 10px;
  border: 1px solid #d6d8ff;
}
#white-area,
#blue-area {
  padding: 30px;
}
#blue-area {
  background: #172955;
  border-radius: 0px 10px 10px 0px;
  color: white;
}

/* ------- */

#card-map {
  margin: 35px 0px;
}
#blue-area-map {
  padding: 30px;
  background: #172955;
  border-radius: 0px 10px 10px 0px;
  color: white;
}
#white-area-map {
  min-height: 200px;
  background: url(../img/map.png) no-repeat center center;
  background-size: 100%;
}
#blue-area-map a {
  padding: 0px 16px;
  color: white;
  font-weight: bold;
}
#whatsapp-area h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #172955;
  margin: 20px 0 20px;
}
.whatsapp-button {
  color: white;
  background: #128c7e;
  border-radius: 10px;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.whatsapp-button:hover {
  color: white;
  font-weight: bold;
}
.whatsapp-button i {
  margin: 0 10px 6px 0;
}
/* ------- */
#white-area form label {
  margin: 20px 0 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #172955;
}
#white-area form input {
  padding: 10px 15px;
  background: #ffffff;
  border: 1px solid #d6d8ff;
  box-sizing: border-box;
  border-radius: 6px;
}
#white-area form textarea {
  width: 100%;
  padding: 10px 15px;
  background: #ffffff;
  border: 1px solid #d6d8ff;
  box-sizing: border-box;
  border-radius: 6px;
}
#white-area form input[type="submit"] {
  background: #4154f1;
  padding: 8px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #172955;
  font-size: 12px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #172955;
  font-size: 12px;
}

::placeholder {
  color: #172955;
  font-size: 12px;
}

.row-icon-text {
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.row-icon-text > span {
  font-size: 14px;
  margin-left: 15px;
}
#blue-area > h3 {
  margin-bottom: 30px;
}
#blue-area > .social-links {
  margin-top: 30px;
}
#blue-area > .social-links a {
  margin: 0 6px;
  background: #344d8a;
  padding: 10px 15px 15px;
  border-radius: 30px;
  color: white;
}
#opening-contact > span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #ff7d39;
  display: block;
  margin: 20px 0 20px;
}
#opening-contact > h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #172955;
}
.before-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: #ff7d39;
  display: block;
  margin-bottom: 10px;
}

/* CONTACT end */

/* INFORMATION start */

.document-item {
  margin-bottom: 50px;
}
.document-item p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #172955;
  margin: 18px 10px 10px 0;
}
.icon-group-document {
  width: 100px;
  height: 100px;
  background: #eef5ff;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-document {
  display: block;
  width: 50px;
  height: 58px;
  background: url("../img/icon-document.png") no-repeat center center;
  background-size: 100%;
}

/* ------- */

#images .container .row > div {
  margin-bottom: 22px;
}

.image-wrapper img {
  width: 100%;
  height: auto;
}

/* INFORMATION end */

/* ------- RESPONSIVE start ------- */

@media (max-width: 768px) {}

/* ------- RESPONSIVE end ------- */
